@use "./src/styles/mixins.scss" as *;

.project-modal {
    position: fixed;
    inset: 0;
    z-index: 1000;
    padding: 1.5rem;

    display: grid;
    place-items: center;

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0.375rem);
}

.project-modal__card {
    position: relative;

    border-radius: 24px;

    max-height: calc(100vh - 3rem);

    background: var(--gradient-accent);
    border: 1px solid rgb(var(--color-primary-rgb) / 1);


    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.project-modal__top {
    padding-top: 3.5rem;
    padding-inline: 3.5rem;

    display: flex;
    justify-content: flex-end;
}

.project-modal__body {
    flex: 1;
    min-height: 0;
    overflow-y: auto;

    padding-inline: 4rem;
    padding-block: 0;
}

.project-modal__bottom {
    padding-bottom: 3rem;
    padding-inline: 4rem;
    display: flex;
    justify-content: flex-end;
}


.project-modal__close {
    all: unset;

    width: 1.125rem;
    height: 1.125rem;

    color: rgb(var(--color-default) / 1);
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;

    transition: transform 150ms ease, color 150ms ease;

    &:hover {
        transform: scale(1.15);
        color: rgb(var(--color-primary-rgb) / 1);
    }

    &:focus-visible {
        outline: 0.125rem solid rgb(var(--color-primary-rgb) / 1);
        outline-offset: 0.25rem;
    }
}

.project-modal__grid {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-areas: "data preview";
    gap: var(--space-7);
    align-items: center;

    max-height: none;
    overflow: visible;
}

.project-modal__left {
    grid-area: data;
    @include dflex($gap: var(--space-8), $align: start, $dir: column);
}

.project-modal__header {
    @include dflex($gap: var(--space-6), $align: start, $dir: column);
}

.project-modal__index {
    color: rgb(var(--color-primary-rgb) / 1);
    font-size: var(--fs-6xl);
    font-weight: 700;
    letter-spacing: -0.02em;
}

.project-modal__title {
    color: rgb(var(--color-default) / 1);
    font-family: var(--font-secondary);
    font-size: var(--fs-4xl);
    font-weight: 700;
    line-height: 0.8;
    letter-spacing: -0.02em;
}

.project-modal__content {
    @include dflex($gap: var(--space-7), $align: start, $dir: column);
}

.project-modal__description {
    @include dflex($gap: var(--space-5), $align: start, $dir: column);
}

.project-modal__subtitle {
    color: rgb(var(--color-primary-rgb) / 1);
    font-family: var(--font-secondary);
    font-size: var(--fs-xl);
    font-weight: 700;
    line-height: 1.2;
}

.project-modal__desc {
    color: rgb(var(--color-default) / 1);
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 1.2;
}

.project-modal__tech {
    @include dflex($gap: var(--space-4));
    flex-wrap: wrap;

    list-style: none;
    margin: 0;
    padding: 0;
}

.project-modal__tech-item {
    @include dflex($gap: var(--space-1));
}

.project-modal__tech-icon {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    color: rgb(var(--color-primary-rgb) / 1);
}

.project-modal__tech-label {
    color: rgb(var(--color-default) / 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
}

.project-modal__actions {
    @include dflex($gap: var(--space-7));
}

.project-modal__action .outward {
    position: relative;
    height: 1em;
    color: rgb(var(--color-primary-rgb) / 1);
    transition: transform 150ms ease, color 150ms ease;
}

.project-modal__action:hover .outward {
    transform: translate(0.25rem, -0.25rem);
}

.project-modal__right {
    grid-area: preview;
    align-self: center;
    justify-self: center;

}

.project-modal__preview {
    width: 32.5rem;
    aspect-ratio: 16 / 10;
    border-radius: 30px;
    display: block;
}


.project-modal__next {
    all: unset;
    @include dflex($gap: var(--space-2));

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;

    color: rgb(var(--color-primary-rgb) / 1);
    cursor: pointer;

    transition: color 150ms ease;

    &:focus-visible {
        outline: 0.125rem solid rgb(var(--color-primary-rgb) / 1);
        outline-offset: 0.25rem;
    }

    .arrow-forward {
        height: 1em;
        aspect-ratio: 1 / 1;
        transition: transform 150ms ease;
    }

    &:hover {
        color: rgb(var(--color-default) / 1);

        .arrow-forward {
            transform: scale(1.2);
        }
    }
}

@media (max-width: 60rem) {
    .project-modal__grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "preview"
            "data";
    }

    .project-modal__preview {
        height: 12.5rem;
        width: auto;
    }

    .project-modal__index {
        font-size: var(--fs-5xl);
    }

    .project-modal__title {
        font-size: var(--fs-3xl);
    }

    .project-modal__content {
        gap: var(--space-5);
    }

    .project-modal__description {
        gap: var(--space-4);
    }

    .project-modal__subtitle {
        font-size: var(--fs-xl);
    }

    .project-modal__desc {
        font-size: var(--fs-base);
    }

    .project-modal__tech {
        gap: var(--space-4);
        flex-wrap: wrap;

        &-item {
            gap: 0.25rem;

            &-icon {
                width: 1.25rem;
                height: 1.25rem;
            }

            &-label {
                font-size: var(--fs-base);
            }
        }
    }

    .project-modal__action-next {
        gap: var(--space-2);
        bottom: 2rem;
        right: 2rem;
    }
}

@media (max-width: 30rem) {
    .project-modal {
        padding: 0;
        max-height: 100vh;
    }

    .project-modal__card {
        max-height: 99vh;
    }

    .project-modal__top {
        padding-top: 2rem;
        padding-inline: 2rem;
        padding-bottom: 0.5rem;
    }

    .project-modal__body {
        padding: 1rem;
    }

    .project-modal__bottom {
        padding-top: 0.5rem;
        padding-bottom: 2rem;
        padding-inline: 2rem;
    }

    .project-modal__grid {
        gap: var(--space-7);
    }
}