@use "./src/styles/mixins.scss" as *;

:host {
  @include dflex();
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
  width: 100%;
  align-items: start;
  justify-content: center;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.contact__left {
  max-width: 520px;
  @include dflex($gap: 40px, $dir: column, $align: start, $justify: start);
}

.contact__header {
  @include dflex($gap: 20px, $dir: column, $align: start, $justify: start);
}

.contact__headline {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 64px;
  letter-spacing: -3%;
}

.contact__content {
  @include dflex($gap: 16px, $dir: column, $align: start, $justify: start);
}

.contact__subheadline {
  color: rgb(var(--color-primary-rgb) / 1);
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}

.contact__text {
  font-size: 16px;
  line-height: 1.2;

  span {
    color: rgb(var(--color-primary-rgb) / 1);
    font-weight: 700;
  }
}

.contact__form {
  display: grid;
  gap: 40px;
}

.contact__fields {
  border-top: 1px solid rgb(var(--color-primary-rgb) / 0.5);
  border-bottom: 1px solid rgb(var(--color-primary-rgb) / 0.5);
}

.field {
  position: relative;
  @include dflex($gap: 1rem, $dir: column, $align: start, $justify: start);
  padding: 2rem;
  transition: border-color 150ms ease;

  border-top: 1px solid rgb(var(--color-primary-rgb) / 0.5);
  border-bottom: 1px solid rgb(var(--color-primary-rgb) / 0.5);

  &:first-child {
    border-top: none;
  }
}

.field__label {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2;
  color: rgb(var(--color-primary-rgb) / 1);
}

.field__control {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;

  font-size: 1.125rem;
  line-height: 1.2;
  color: rgb(var(--color-default) / 1);

  &::placeholder {
    color: rgb(var(--color-default) / 0.8);
    transition: color 150ms ease;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.field.is-error .field__control::placeholder {
  color: rgb(var(--color-warn) / 0.8);
}

.field__error {
  position: absolute;
  left: 2rem;
  bottom: 0.9rem;

  font-size: 0.875rem;
  color: rgb(var(--color-warn) / 0.9);
  line-height: 1.2;
  white-space: nowrap;

  &--check{
    bottom: -1rem;
  }
}

.privacy-wrap {
  @include dflex($gap: 0.5rem, $justify: start);
  position: relative;
}

.check {
  @include dflex($gap: 0.5rem, $justify: start);
}

.check__input {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
}

.check__box {
  width: 24px;
  height: 24px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  color: rgb(var(--color-primary-rgb) / 1);
  cursor: pointer;
}

.check__img {
  width: 18px;
  height: 18px;
  display: block;
}

.check__box:hover {
  background-color: rgb(var(--color-primary-rgb) / 0.3);
}

.check__input:focus-visible+.check__box {
  outline: 2px solid currentColor;
  outline-offset: 4px;
  border-radius: 50%;
}

.check__text {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.2;

  a {
    position: relative;
    color: rgb(var(--color-primary-rgb) / 1);
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -5px;
      height: 1px;
      background-color: rgb(var(--color-primary-rgb) / 1);
      opacity: 1;

      transform: scaleX(0);
      transform-origin: left;
      transition: transform 150ms ease;
    }

    &:hover {
      color: rgb(var(--color-default-rgb) / 1);
    }

    &:hover::after {
      transform: scaleX(1.05);
    }
  }
}

.submit {
  width: 100%;
  @include dflex();
}