@use "./src/styles/mixins.scss" as *;

:host {
    position: absolute;
    @include dflex($dir: column, $align: space-between);
    top: 0;
    left: 0;
    width: 100%;
    height: var(--height-header);

    z-index: 100;
    background: var(--gradient-header);
    overflow: hidden;

    &>* {
        padding: 0 6rem;
    }
}

.lang-btn {
    position: relative;
    z-index: 1;
    width: 44px;
    height: 28px;
    border: 0;
    background: transparent;
    color: rgba(80, 255, 220, 0.6);
    font-weight: 800;
    cursor: pointer;
}

.lang-btn.is-active {
    color: #ffffff;
}

.lang-indicator {
    position: relative;
    width: 44px;
    height: 28px;
    border-radius: 100px;
    background: #35e0c2;
    transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lang-indicator.is-de {
    transform: translateX(44px);
}