@use "./src/styles/mixins.scss" as *;

:host {
    position: absolute;
    @include dflex($dir: row, $justify: space-between, $align: center);
    top: 0;
    left: 0;
    width: 100%;
    height: var(--height-header);

    z-index: 100;
    background: var(--gradient-header);
    overflow: hidden;

    &>* {
        padding: 0 6rem;
    }
}

.lang-switch {
    @include dflex();
}

.lang-en,
.lang-de {
    border: 0;
    background: transparent;
    cursor: pointer;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.lang-de {
    border-radius: 0 50px 50px 0;
}

.lang-en {
    border-radius: 50px 0 0 50px;

}

.lang-de,
.lang-en {
    &.is-active {
        background-color: var(--color-primary);
        color: rgb(var(--color-default)/1);
    }
}


nav {
    @include dflex($dir: row, $gap: 24px);

    a {
        position: relative;
        @include dflex($dir: row);

        &:active {
            color: var(--color-primary);
        }

        &::after {
            content: '';
            position: absolute;

            bottom: -16px;
            transform: scale(0);
            width: 8px;
            height: 8px;
            border-radius: 50%;

            background-color: var(--color-primary);

            transition: ease;
        }

        &:hover::after,
        &:active::after,
        &:focus-visible::after {
            transform: scale(1);
        }

        &.is-active {
            color: var(--color-primary);

            &::after {
                transform: translateX(0) scale(1);
            }
        }


    }
}

img {
    height: 100%;
    width: auto;
    object-fit: contain;
    display: block;
}