:root {
        --font-base: "Karla", system-ui, sans-serif;
        --font-secondary: "Fira Code", monospace;

        --color-bg-dark: #1c1c1c;
        --color-bg-dark-rgb: 28, 28, 28;

        --color-primary: #ffca1b;
        --color-primary-rgb: 255 202 27;
        --color-skill-glow-rgb: 8, 70, 59;
        --color-mouse-glow-rgba: 61, 207, 182;
        --color-default: 255 255 255;

        --gradient-accent: linear-gradient(to top right,
                        var(--color-bg-dark) 30%,
                        rgba(var(--color-skill-glow-rgb), 1) 100%,
                        transparent 80%);

        --gradient-skills: radial-gradient(40% 70% at left center,
                        rgba(var(--color-skill-glow-rgb), 0.40) 0%,
                        rgba(var(--color-skill-glow-rgb), 0.35) 30%,
                        rgba(var(--color-skill-glow-rgb), 0.06) 45%,
                        transparent 80%);

        --gradient-mouse: radial-gradient(180px 180px at var(--mouse-x) var(--mouse-y),
                        rgba(var(--color-mouse-glow-rgba), 0.25) 0%,
                        rgba(var(--color-mouse-glow-rgba), 0.18) 12%,
                        rgba(var(--color-mouse-glow-rgba), 0.10) 28%,
                        rgba(var(--color-mouse-glow-rgba), 0.05) 42%,
                        transparent 60%);

        --gradient-header: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));


        --height-header: 6rem;
        --height-footer: 200px;
}