:root {
    --font-base: "Karla", system-ui, sans-serif;
    --font-secondary: "Fira Code", monospace;

    --color-bg-dark: #1c1c1c;

    --color-primary: #ffca1b;
    --color-primary-rgb-gardient: 8, 70, 59, 1;

    --gardient-accent: linear-gradient(to top right, var(--color-bg-dark)30%, rgba(var(--color-primary-rgb-gardient))100%);
    ;
}