@use "@/styles/buttons.scss" as *;

.main-btn {
    @include main-button-base;

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.button_inner {
    @include button-inner-base;
}