@use "./src/styles/mixins.scss" as *;

:host {
    @include dflex();
}

.testimonials {
    width: 100%;
}

.testimonials__title {
    font-family: var(--font-secondary);
    font-weight: 700;
    margin-bottom: var(--space-7);
    color: rgb(var(--color-primary-rgb) / 1);
    font-size: var(--fs-2xl);
    display: block;
    text-align: center;
    padding-inline: var(--container-pad);

}

.carousel {
    position: relative;
    margin: 0 auto;

}

.stage {
    position: relative;
    height: 23.375rem;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to right,
                rgba(var(--color-bg-dark-rgb), 0.7) 0%,
                rgba(var(--color-bg-dark-rgb), 0.15) 15%,
                rgba(var(--color-bg-dark-rgb), 0) 50%,
                rgba(var(--color-bg-dark-rgb), 0.15) 85%,
                rgba(var(--color-bg-dark-rgb), 0.7) 100%);
        pointer-events: none;
        z-index: 5;
    }
}

.card {
    position: absolute;
    inset: 0;
    margin: auto;
    width: min(45rem, 80%);
    height: 80%;
    min-height: 17.125rem;
    display: flex;
    flex-direction: column;

    padding: 1.75rem var(--space-7);
    border-radius: 22px;
    border: 1px solid rgb(var(--color-primary-rgb) / 1);
    background: rgb(var(--color-primary-rgb) / 0.30);

    opacity: 0;
    transform: translateX(0) scale(1);
    pointer-events: none;

    transition:
        transform 420ms cubic-bezier(0.22, 1, 0.36, 1),
        opacity 420ms cubic-bezier(0.22, 1, 0.36, 1);


    &.is-active {
        opacity: 1;
        transform: translateX(0) scale(1);
        filter: blur(0);
        pointer-events: auto;
        z-index: 3;
    }

    &.is-prev {
        opacity: 0.75;
        transform: translateX(-100%) scale(0.92);
        z-index: 2;
    }

    &.is-next {
        opacity: 0.75;
        transform: translateX(100%) scale(0.92);
        z-index: 2;
    }

    &.is-hidden {
        opacity: 0;
        transform: translateX(0) scale(0.9);
        filter: blur(0.5rem);
        z-index: 1;
    }

    &__text {
        flex: 1;
        font-size: var(--fs-md);
        line-height: 120%;
        color: rgb(var(--color-default) / 1);
        margin: 0;
    }

    &__footer {
        margin-top: auto;
        /* optional, schadet aber nicht */
        @include dflex($gap: var(--space-3-5));
    }
}


.line {
    flex: 1;
    height: 0.125rem;
    background: rgb(var(--color-default)/1);
    opacity: 0.8;
    border-radius: 99px;
}

.sig {
    font-size: 0.95rem;
}



.nav {
    all: unset;
    @include dflex($gap: var(--space-5));
    height: 1.125rem;
    width: 1.125rem;
    cursor: pointer;

    transition: transform 150ms ease, border-color 150ms ease;

    &--right:hover {
        color: rgb(var(--color-primary-rgb) / 1);
        transform: scale(1.2) translateX(0.25rem);
    }

    &--left:hover {
        color: rgb(var(--color-primary-rgb) / 1);
        transform: scale(1.2) translateX(-0.25rem);
    }

    &:focus-visible {
        outline: 0.125rem solid rgb(var(--color-primary-rgb) / 1);
        outline-offset: 0.25rem;
        border-radius: 50%;
    }
}

.dots {
    @include dflex($gap: var(--space-5), $dir: row);
    margin-top: var(--space-8);
}

.dot {
    all: unset;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 999px;
    background: rgb(var(--color-default)/1);
    cursor: pointer;
    transition: transform 150ms ease, background 150ms ease;

    &.is-active {
        background: rgb(var(--color-primary-rgb) / 1);
        transform: scale(1.2);
    }

    &:focus-visible {
        outline: 0.125rem solid rgb(var(--color-primary-rgb) / 1);
        outline-offset: 0.25rem;
        border-radius: 50%;
    }
}

@media (max-width: 30rem) {
    .testimonials__title {
        font-size: var(--fs-xl);
    }

    .carousel {
        max-width: 100%;
    }

    .stage {
        height: 20rem;
    }

    .card {
        height: auto;
        padding: var(--space-5) var(--space-4);


        &__text {

            height: 82%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__footer {
            flex-direction: column;


            .line {
                width: 100%;
                border: 1px solid;
            }
        }

    }
}