@use "@/styles/buttons.scss" as *;

.main-btn {
    @include main-button-base;
}

.button_inner {
    @include button-inner-base;
}

.main-btn.is-marquee .button_inner.is-marquee {
    animation: marqueeWrap 2s linear infinite;
}

@keyframes marqueeWrap {
    0% {
        transform: translateX(0);
        opacity: 1;
    }


    40% {
        transform: translateX(-130%);
        opacity: 1;
    }

    45% {
        transform: translateX(-130%);
        opacity: 0;
    }

    46% {
        transform: translateX(130%);
        opacity: 0;
    }

    47% {
        transform: translateX(130%);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (prefers-reduced-motion: reduce) {
    .main-btn.is-marquee .button_inner.is-marquee {
        animation: none;
    }
}