.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    position: fixed;

    inset: 0;
    pointer-events: none;
    z-index: 1;

    background: var(--gradient-mouse);
  }
}

.content {
  flex: 1;
}