.layout {
  min-height: 100vh;
  min-height: 100svh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;


  &::before {
    content: "";
    position: fixed;
    z-index: 1;
    inset: 0;
    pointer-events: none;
    background: var(--gradient-mouse);
  }
}

.content {
  flex: 1;
}

footer {
  height: var(--height-footer);
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  z-index: 10;
  margin-top: calc(var(--height-footer)* -1);
}