@use "./styles/fonts";
@use "./styles/tokens";
@use "./styles/a11y.scss";
@use "./styles/logo.scss";
@use "./styles/mixins.scss" as *;

* {
    margin: 0;
    font-family: var(--font-base);
    transition: all 150ms;
    text-decoration: none;
}


html,
body {
    background-color: #1c1c1c;
    color: rgb(var(--color-default)/1);
    scroll-behavior: smooth;
    cursor: default;
    -webkit-text-size-adjust: 100%;
}

body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
        env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body.is-modal-open {
    overflow: hidden;
}

a,
button,
[role="button"],
select {
    cursor: pointer;
}

input,
textarea {
    cursor: text;
}

h2 {
    font-family: var(--font-secondary);
    color: rgb(var(--color-primary-rgb)/1);
    font-weight: 700;
    font-size: var(--fs-4xl);
    line-height: 1;
    letter-spacing: -0.03em;
    margin: 0;
}

a {
    color: rgb(var(--color-default)/1);
}


.container {
    max-width: var(--container-max);
}


.eyebrow {
    font-size: var(--fs-xl);
    color: rgb(var(--color-primary-rgb));
    line-height: 1;
    letter-spacing: 0;
    text-transform: none;
    margin: 0;
    font-weight: 500;
}

.eyebrow--bold {
    font-weight: 700;
}


.check__box .cb__check {
    opacity: 0;
    transition: opacity 150ms;
}


.check__input:checked+.check__box .cb__check {
    opacity: 1;
}




* {
    scrollbar-width: thin;
    scrollbar-color:
        rgb(var(--color-primary-rgb) / 0.75) rgba(255, 255, 255, 0.05);
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,
            rgb(var(--color-primary-rgb) / 0.9),
            rgb(var(--color-primary-rgb) / 0.6));
}

@media (max-width: 30rem) {
    .eyebrow {
        font-size: 1.125rem;
    }

    h2 {
        font-size: 3.5rem;
    }
}