@use "./styles/fonts";
@use "./styles/tokens";
@use "./styles/a11y.scss";
@use "./styles/mixins.scss" as *;

* {
    margin: 0;
    font-family: var(--font-base);
    transition: all 150ms;
    text-decoration: none;
}


html,
body {
    background-color: #1c1c1c;
    color: var(--color-default);
}

a {
    color: var(--color-default);
}


.container {
    max-width: 1440px;
}