@use "./styles/fonts";
@use "./styles/tokens";
@use "./styles/a11y.scss";
@use "./styles/mixins.scss" as *;

html,
body {
    margin: 0;
    background-color: #1c1c1c;
    font-family: var(--font-base);
}

.main-btn {
    all: unset;
    cursor: pointer;
    @include dflex($gap: 10px, );
    padding: 0 24px;
    border: 1px solid var(--color-default);
    border-radius: 100px;
    font-size: 1rem;
    color: var(--color-default);

    &:hover {
        border-color: var(--color-primary);
    }
}