@use "./styles/fonts";
@use "./styles/tokens";
@use "./styles/a11y.scss";
@use "./styles/mixins.scss" as *;

* {
    margin: 0;
    font-family: var(--font-base);
    color: var(--color-default);
    transition: all 100ms;
}


html,
body {
    background-color: #1c1c1c;
}

.main-btn {
    all: unset;
    cursor: pointer;
    @include dflex($gap: 10px);
    padding: 1rem 1.5rem;
    border: 1px solid var(--color-default);
    border-radius: 100px;
    font-size: 1rem;
    color: var(--color-default);

    &:hover {
        border-color: var(--color-primary);
    }
}

.container {
    max-width: 1440px;
}