<div class="footer-left">
    <img src="/assets/img/logo-green.png" alt="Logo Marc-André Buck">
    <span>{{ identity.role }}</span>
    <span>{{ identity.location }}</span>
</div>

<span>©  {{ identity.name }} {{ identity.yearOfConstruct }}</span>

<div class="footer-right">
    <a *ngFor="let link of socialLinks" [href]="link.url" target="_blank" rel="noopener noreferrer">
        {{ link.label }}
        <span class="sr-only">(opens in a new tab)</span>
    </a>

    <a [attr.href]="'mailto:' + identity.email">
        Email
        <span class="sr-only">(opens email client)</span>
    </a>

    <a routerLink="/legal-notice">Legal Notice</a>
</div>