@use "./src/styles/mixins.scss" as *;

:host {
    width: 100%;
    max-width: 90rem;
    padding-inline: var(--container-pad);

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: "logo copy links";
    align-items: center;
    gap: 1rem;
}

.footer-left {
    grid-area: logo;
    justify-self: start;
}

.footer-copy {
    grid-area: copy;
    justify-self: center;
    text-align: center;
    color: rgb(var(--color-primary-rgb)/1);
}

.footer-right {
    grid-area: links;


    justify-self: end;
}


.footer-left {
    @include dflex($dir: column, $align: start, $justify: space-between);

    .logo {
        display: flex;
        height: 5rem;
        width: auto;
        margin-left: -1em;
    }
}

.footer-right {
    @include dflex($dir: column, $gap: var(--space-2), $align: start);

    a {
        @include dflex();
        position: relative;

        &:hover {
            color: rgb(var(--color-primary-rgb)/1);
        }

        &::after {
            content: '';
            position: absolute;

            left: -0.75rem;
            transform: scale(0);
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;

            background-color: rgb(var(--color-primary-rgb)/1);

            transition: ease;
        }

        &:hover::after,
        &:focus-visible::after {
            transform: scale(1);

            color: var(--color-default);
        }
    }
}

@media (max-width: 780px) {
    :host {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "logo links"
            "copy copy";

        align-items: center;
        gap: var(--space-4);
        margin-inline: auto;
    }

    .footer-copy {
        padding-bottom: 1rem;
    }
}

@media (max-width: 480px) {
    :host {
        grid-template-columns: 1.8fr 1fr;
    }
}