<div class="footer-left">
    <a href="#" class="logo">
        <app-icon name="logo"></app-icon>
    </a>
    <span>{{ identity.role }}</span>
    <span>{{ identity.location }}</span>
</div>

<span class="footer-copy">© {{ identity.name }} {{ identity.yearOfConstruct }}</span>

<div class="footer-right">
    <a *ngFor="let link of socialLinks" [href]="link.url" target="_blank" rel="noopener noreferrer">
        {{ link.label }}
        <span class="sr-only">{{ lang.dict().footer.opensNewTab }}</span>
    </a>

    <a [attr.href]="'mailto:' + identity.email">
        {{ lang.dict().footer.email }}
        <span class="sr-only">{{ lang.dict().footer.opensEmail }}</span>
    </a>

    <a routerLink="/legal-notice">{{ lang.dict().footer.legalNotice }}</a>

    <a routerLink="/privacy-policy">{{ lang.dict().footer.privacyPolicy }}</a>
</div>