@use "./src/styles/mixins.scss" as *;

:host {
    @include dflex($dir: row, $justify: space-between);
    width: 100%;
    max-width: 1440px;
    // position: absolute;
}

.footer-left {
    @include dflex($dir: column, $justify: space-between);

    img {
        width: 200px;
        height: 140px;
    }
}

.footer-right {
    @include dflex($dir: column, $gap: 0.5rem, $align: start);

    a {
        @include dflex();
        position: relative;

        &:hover {
            color: var(--color-primary);
        }

        &::after {
            content: '';
            position: absolute;

            left: -12px;
            transform: scale(0);
            width: 8px;
            height: 8px;
            border-radius: 50%;

            background-color: var(--color-primary);

            transition: ease;
        }

        &:hover::after,
        &:focus-visible::after {
            transform: scale(1);
        }
    }
}