<section class="hero">

  <div class="container">

    <h2>Frontend Developer</h2>
    <h1>Marc-André Buck</h1>

    <div class="hero-btn-section">

      <app-button variant="marquee" href="#projects">
        {{ lang.dict().hero.buttons.projects }}
      </app-button>

        <app-button variant="marquee" href="#contact">
        {{ lang.dict().hero.buttons.contact }}
      </app-button>

    </div>

  </div>

  <div class="lateral">
    <div class="left">
      <div class="scroll-down">
        <app-icon name="arrow-down" class="scroll-down-icon"></app-icon>
      </div>
      <div class="line"></div>
    </div>

    <div class="right">

      <a class="email" [href]="'mailto:' + lang.dict().hero.contact.email">
        {{ lang.dict().hero.contact.email }}
      </a>

      <div class="social">
        <a class="mail" [href]="'mailto:' + lang.dict().hero.contact.email" rel="noopener noreferrer"
          aria-label="mail to " + lang.dict().hero.contact.email>
          <app-icon name="mail" class="icons"></app-icon>
        </a>

        <a href="https://github.com/MarcAndreBuck" target="_blank" rel="noopener noreferrer"
          aria-label="Open GitHub profile in new tab">
          <app-icon name="git" class="icons"></app-icon>
        </a>

        <a href="https://de.linkedin.com/in/marc-andr%C3%A9-buck-b921431aa" target="_blank" rel="noopener noreferrer"
          aria-label="Open linkedIn profile in new tab">
          <app-icon name="linkedIn" class="icons"></app-icon>
        </a>
      </div>

      <div class="line"></div>
    </div>
  </div>
  <app-marquee [items]="lang.heroMarquee()" [duration]="28" class="marquee"></app-marquee>
</section>