@use "./src/styles/mixins.scss" as *;

.hero {
    position: relative;
    overflow: hidden;
    @include dflex($gap: 12px, $dir: column);
    height: 100vh;
    background: var(--gradient-accent), var(--color-bg-dark);

    .container {
        flex: 1;
        @include dflex($gap: 10px, $dir: column);
        max-width: 1440px;

        h1 {
            font-weight: 700;
            font-size: 8rem;
            letter-spacing: -2%;
        }

        h2 {
            font-family: var(--font-secondary);
            font-weight: 400;
            font-size: 2.5rem;
        }
    }

    .marquee {
        position: relative;
        padding-bottom: 2.5%;
    }

    &-btn-section {
        @include dflex($gap: 3rem, $align: space-between);
        z-index: 1;
    }

    .lateral {
        position: absolute;
        left: 6rem;
        right: 6rem;
        bottom: 0;
        @include dflex($justify: space-between, $align: end);


        .left {
            display: flex;
            height: 312px;
            @include dflex($dir: column, $gap: 1.5rem);
        }

        .right {
            height: 450px;
            width: 20px;
            @include dflex($dir: column, $gap: 1.5rem);

            .social {
                @include dflex($dir: column, $gap: 0.75rem);

                .icons {
                    width: 32px;
                    height: 32px;
                    color: var(--color-primary);
                    display: flex;
                    align-items: center;

                    &:hover{
                        color: rgb(var(--color-default)/1);
                    }

                    &::after {
                        content: '';
                        position: absolute;

                        right: -20px;
                        transform: scale(0);
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;

                        background-color: var(--color-primary);

                        transition: ease;
                    }

                    &:hover::after,
                    &:focus-visible::after {
                        transform: scale(1);
                    }
                }

                .mail {
                    display: none;
                }
            }

            .email {
                font-family: var(--font-base);
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                white-space: nowrap;
                text-decoration: none;

                &:hover{
                    color: var(--color-primary);
                }
            }

            .line {
                background-color: rgb(var(--color-default)/1);
            }
        }

        .scroll-down {
            width: 30px;
            height: 50px;
            border: 1px solid var(--color-primary);
            border-radius: 2rem;
            @include dflex($dir: column);

            .scroll-down-icon {
                height: 12px;
                animation: floatY 1.8s ease-in-out infinite;
            }
        }

        .line {
            background-color: var(--color-primary);
            height: 100%;
            width: 1px;
        }


    }


    @keyframes floatY {
        0% {
            transform: translateY(-2px);
        }

        33% {
            transform: translateY(8px);
        }

        100% {
            transform: translateY(-2px);
        }
    }
}