<section class="about" id="about">
    <div class="about__grid">
        <figure class="about__media">
            <img class="about__img" src="/assets/img/R55_0021.webp" [attr.alt]="lang.dict().about.imageAlt"
                loading="lazy" />
        </figure>

        <div class="about__content">
            <p class="eyebrow">{{ lang.dict().about.eyebrow }}</p>

            <article class="about__card">
                <h2 class="about__title">{{ lang.dict().about.title }}</h2>

                <p class="about__text">
                    {{ lang.dict().about.intro }}
                </p>

                <ul class="about__list">
                    <li class="about__item">
                        <app-icon name="location_on" class="about__icon"></app-icon>
                        <p class="about__item-text">
                            {{ lang.dict().about.list[0] }}
                        </p>
                    </li>

                    <li class="about__item">
                        <app-icon name="cognition" class="about__icon"></app-icon>
                        <p class="about__item-text">
                            {{ lang.dict().about.list[1] }}
                        </p>
                    </li>

                    <li class="about__item">
                        <app-icon name="new_releases" class="about__icon"></app-icon>
                        <p class="about__item-text">
                            {{ lang.dict().about.list[2] }}
                        </p>
                    </li>
                </ul>
            </article>
        </div>
    </div>
</section>